*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    
}
body{
    height: 100%;
    min-height: 100%;
    background-image: url(../images/graphicBGC-01.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
}
/******************************* Hero Section ***************************/
.Hero-Section {
    position: relative;
    bottom: 0%;
    height: 40%;
    overflow: hidden;
  }
  .hero-top {
    display: flex;
    height: 10em;
    padding: 0;
  }
  .hero-top-left {
    width: 10%;
    background-color: #ffd4b2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-top-left img {
    width: 50%;
  }
  .hero-top-right {
    width: 90%;
    background-color: #86c8bc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-top-right ul {
    display: flex;
    gap: 5em;
  }
  .hero-top-right ul li a {
    text-decoration: none;
    color: #7a316f;
    font-size: 20px;
    font-weight: 400;
  }
  .hero-bot {
    background-color: #ceedc7;
    height: 15em;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-bot h3 {
    width: 80%;
    font-family: "Oswald", sans-serif;
    text-align: justify;
  }
  



.navbar2{
    width: 250px;
    height: 80%;
    position: fixed;
    margin-left: -300px;
    background-color: #ffd073;
    transition: 0.4s;
    z-index: 999;
  }
  
 
  .navbar-nav{
    display: block;
    text-align: center;

  }
  .navbar-nav li a{
    color: #2f4858;
  }
  
  .nav-link{
    font-size: 1.25em;

  }
  .nav-links{
    transition: all .4s;
    opacity: 0;
    position: absolute;
  }
  .nav-links.to-top.active {
    pointer-events: auto;
    opacity:1;
  }
  .nav-link a{
    color: #2f4858;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }
  
  
  
  
  
  .my-container {
    transition: 0.4s;
  }
  
  
  /* for navbar */
  
  .active-nav {
    margin-left: 0;
  }
  
  
  /* for main section */
  
  .active-cont {
    margin-left: 250px;
  }
  
  #menu-btn {
    position:fixed;
    top: 0%;
    background-color: #31897d;
    z-index: 999;
    transition: all .4s;
  }
  #menu-btn i{
    font-size: 25px;
    color: #2f4858;
  }
 


.main1{
    height: 100%;
    min-height: 100%;
    padding-bottom: 100px;
    overflow: hidden;
}



.main1-content{
    width: 100%;
    border: 1px solid black;
    background-color: #d5cabd;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.main1-content .header-img img{
    width: 500px;
}
.main1-content .header-text h1{
    font-size: 70px;
    font-weight: 700;
    margin-top: 5%;
}
.main1-content .header-text .social-links {
    display: flex;
    
}
.main1-content .header-text .social-links a{
    margin-left: 1rem;
    font-size: 40px;
    color: #231f20;
   
}
.main1-content .header-img .social-links-mobile a{
    display: none;
}
.main1-content .header-text p{
    font-size: 25px;
    width: 90%;
    font-weight: 300;
}
/******************************* Hero Section End ***************************/

/******************************* About me ***************************/


/* ******************************** Work Experience *******************************  */
.main3{
    margin-top: 10%;
    width: 100%;
    height: 90%;
    
}
.main3 h1 span{
    color: #2b2a2a;
    font-family: 'Unna', serif;
    font-style: italic;
}
.work-section h1{
    color: #2b2a2a;
    font-size: 100px;
}
.works{
    display: flex;
    margin-top: 6rem;
}
.works .freelance2{
    margin-left: 50px;
}

.work-section1{
    width: 50%;
    height: 60vh;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
    justify-content: center;
    background: url(../images/graphic/handrawn.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FCF3EE;
 
}




/* <!-- ******************************** Projects******************************* --> */

.main4{
    width: 100%;
    height: 650px;
    text-align: center;
    border: 1px solid black;
    margin-top: 10%;
    background-color: #afd3e2;
}

.textmain h1{
    font-size: 200px;
   
    line-height: 100%;
}
.text1{
    margin-left: 10%;  
}
.text2{
    font-family: 'Unna', serif;
    font-style: italic;
    margin-left: -10%;
}




/* <!-- ******************************** Logos******************************* --> */
.main6{
    width: 100%;
    height: 100%;
    margin-top: 10%;
  
}
.logo-item{
    text-align: center;
}

.logo-desc{
    display: flex;
    align-items: center;
}
.main6 h1{
    margin-top: 15%;
    font-size: 150px;
    font-weight: 400;
}
.desc1{
    padding: 1%;
    width: 20%;
    height: 45%;
    border: 1px solid black;
    background-color: #ff6f91;
}
.desc1 p{
    font-size: 1.5rem;
    font-weight: 200;
}
.main6 h1 span{
    font-family: 'Unna', serif;
    font-style: italic;
}
.logos{
    margin: auto;
}
.logos img{
    width: 30%;
    transition: 0.4s ease-in-out;
}
.logos img:hover{
    width: 35%;
    transition: 0.4s ease-in-out;
    border: 1px solid black;
}

.linkbutton{
    width: 100%;
}
.button{
  width: 10rem;
  border: 1px solid black;
  background-color: #b39cd0;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 2%;
  font-size: 16px;
}
/* <!-- ******************************** Mock ups******************************* --> */

.projects-mockup {
    margin-top: 2%;
    overflow: hidden;
  }

.main-content{
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    text-align: center;
  }
  .projects-mockup-title h1 {
    font-size: 70px;
  }
  .projects-mockup-title
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .projects-mockup-title p
  {
    font-size: 20px;
  }
  .card{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
  }
.card hr{
    border: 1px solid #000000;
    color: #000000;
  }
  
  .card img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .hover-card .card-color:nth-child(1):hover{
   background-color: #BEADFA;
  }
  .hover-card .card-color:nth-child(2):hover{
    background-color: #ADC4CE;
   }
   .hover-card .card-color:nth-child(3):hover{
    background-color: #33BBC5;
   }
   .hover-card .card-color:nth-child(4):hover{
    background-color: #FEBBCC;
   }
   .hover-card .card-color:nth-child(5):hover{
    background-color: #E48586;
   }
   .hover-card .card-color:nth-child(6):hover{
    background-color: #CECE5A;
   }
   .hover-card .card-color:nth-child(7):hover{
    background-color: #7A9D54;
   }
   .hover-card .card-color:nth-child(8):hover{
    background-color: #F4D160;
   }
   .hover-card .card-color:nth-child(9):hover{
    background-color: #F29727;
   }
   .hover-card .card-color:nth-child(10):hover{
    background-color: #E48586;
   }
 
  .card-body h5{
    font-size: 50px;
  }
  .card-body p{
    font-size: 30px;
  }
  


/* <!-- ******************************** Banner Design******************************* --> */

/* <!-- ******************************** Vector portrait ******************************* --> */

.main11{
    height: 50em;
    background-color: #afd3e2;
    text-align: center;
}
.main11 h1{
    margin-top: 2em;
    font-weight: 800;
}
.figma-content{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.figma{
    height: 50vh;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.figma-design img{
    width: 100%;
}

/* <!-- ******************************** Vector portrait ******************************* --> */
.main9{
    height: 100%;
   margin-top: 10%;
}
.portrait{
    margin: auto;
}
.content-port{
    display: flex;
    align-items: center;
    
}

.main9-desc{
    padding: 20px;
    width: 50%;
    height: auto;
    border: 1px solid black;
    background-color: #ff8066;
    display: flex;
    flex-direction: column;
}
.main9-desc h1{
    font-size: 60px;
}
.main9-desc h1 span{
    font-family: 'Unna', serif;
    font-style: italic;
}

.port-img img{
    margin-left: 1%;
    border: 1px solid black;
    width: 65%; 
}
.portrait .SHIRT{
   text-align: center;
}
.SHIRT img{
    width: 30%;
    transition: 0.4s ease-in-out;
}
.SHIRT img:hover{
    width: 35%;
    transition: 0.4s ease-in-out;
}

/* <!-- ******************************** Contact ******************************* --> */
.main-contact-1{
    height: 100%;
    min-height: 100%;
    padding-bottom: 100px;
    overflow: hidden;
}



.main1-contact{
    width: 100%;
    border: 1px solid black;
    background-color: #d5cabd;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.main1-contact .header-img img{
    width: 500px;
}
.main1-contact .header-text h1{
    font-size: 80px;
    font-weight: 700;
    margin-top: 5%;
}

.main1-contact .header-text p{
    font-size: 40px;
    width: 90%;
    font-weight: 300;
    font-family: 'Unna', serif;
    font-style: italic;
    text-align: center;
   
}


    /* <!-- ******************************** Footer ******************************* --> */
.footer-Content{
    margin-top: 10%;
    height: 15%;
    width: 100%;
    padding: 3% 0;
   
    background-color: #ffd073;
    font-weight: 300;
    color: rgb(0, 0, 0);
   
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all .5s ease;
}
.fade1.reveal{
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: all .5s ease;
}
.img2.reveal{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all .5s ease;
}
.reveal.active{
    transform: translateY(0px);
    transform: translateX(0px);
    opacity: 1;
}


/* ****************************************Media queries **************************************/

/* ****************************************Hero Section **************************************/

@media only screen and (max-width:991px) and (min-width:300px){
   
    .main1-content{
        height: 65%;
        border: 1px solid black;
        background-color: #d5cabd;
        display: block;
        padding: 50px;
        text-align: center;
        margin-top: 10%;
        width: 100%;
    }
    .main1-content .header-img .social-links-mobile a{
        display: flex;
        margin: auto;
        margin-top: 5%;
       font-size: 25px;
       color: #231f20;
    }

    .main1-content .header-text .social-links a{
        display: none;
    }
   .main1-content .header-text p{
    margin: auto;
    font-size: large;
    font-weight: 500;
   }
   .main1-content .header-img img{
    margin-top: 2%;
}
}
@media only screen and (max-width:767px)and (min-width:300px){
    .main1-content .header-img img{
        width:90%;
  
       }
}
@media only screen and (max-width:550px)and (min-width:300px){
  .hero-bot h3{
    font-size: 20px;
  }
     }
  @media only screen and (max-width:350px)and (min-width:300px){
      .hero-bot h3{
        font-size: 17px;
      }
         }


/* ****************************************Hero Section End **************************************/

/* ****************************************About Section**************************************/



/* ****************************************About Section end**************************************/

/* ****************************************Work Experience**************************************/
@media only screen and (max-width:1399px) and (min-width:992px){

    .work-section1{
        width: 50%;
    }
    .work-section1 h1{
        margin-top: 4.5rem;
        width: auto;
        font-size:clamp(5rem,5vw,1rem);
        
    }
    .work-section1 .illutrations .work-img img{
        width: 90%;
        transform: rotate(5deg);
    }
    @media only screen and (max-width:992px){
        .work-section1 h1{
            margin-top: 5rem;
        }
    }
}
@media only screen and (max-width:991px) and (min-width:300px){
    .work-section-main{
     display: block;
        margin: auto;

    }
    .work-section1{
        width: auto;
    }
    .work-section h1{
        font-size:clamp(5rem,1vw,1rem);
    }
    .works .freelance h1{
        font-size:20px;
    }
    .work-section1 h1{
        font-size:clamp(5rem,1vw,1rem);
    }
   
    .work-section1 .illutrations .work-img img{
        z-index: 999;
    }
    @media only screen and (max-width:400px){
        .work-section h1{
            font-size:clamp(4rem,4vw,1rem)
        }
        .work-section1 h1{
            font-size:clamp(3rem,4vw,1rem);
        }
    }
}
/* ****************************************Work Experience end**************************************/
@media only screen and (max-width:1399px) and (min-width:992px){

}


/* ****************************************Destined to Design**************************************/
@media only screen and (max-width:991px)and (min-width:300px){
       
        .textmain h1{
            font-size: 10em;
            margin: none;
         }
         .text1{
            margin-left:0;  
        }
        .text2{
            margin-left:-6%;
        }
        @media only screen and (max-width:600px){
            .textmain h1{
                font-size: 6em;
           
             }
            }
}
/* ****************************************Destined to Design end**************************************/

/* ****************************************NFTs**************************************/

/* ****************************************LOGOS**************************************/
@media only screen and (max-width:1199px) and (min-width:300px){
 
    .desc1 p{
        font-size: clamp(1.4rem,4vw,1rem);
    }
    .desc1{
        padding: 1%;
        width: 30%;
        height: auto;
    }
  
     .logo-desc{
      float: right;
    }
    .main6 h1{
        margin-top: 15%;
        font-size: 110px;
       
    }
    @media only screen and (max-width:767px) and (min-width:300px){
        .desc1 p{
            font-size: clamp(1rem,4vw,1rem);
        }
        .logo-desc{
           gap: 50px;
          }
          .main6 h1{
            font-size: 80px;
           
        }
    }
}
@media only screen and (max-width:465px){
    .desc1 p{
        font-size:15px;
    }
    .logo-desc{
       gap: 40px;
      }
      .main6 h1{
        font-size: 65px;
       
    }
}
/* ****************************************LOGOS end**************************************/



/* ****************************************Mock up**************************************/

  @media only screen and (max-width:1610px) and (min-width:300px){
    
      .mock-desc h1 {
        font-size: 5em;
        font-weight: 500;
      }
      .mock-desc h1 span {
        font-style: italic;
      }
      .mock-desc p {
        font-size: 30px;
      }
  }
  @media only screen and (max-width:1188px) and (min-width:300px){
    
    .mock-desc h1 {
      font-size: 3em;
      font-weight: 700;
    }
    
    .mock-desc p {
      font-size: 30px;
      text-align: left;
    }
}
@media only screen and (max-width:992px) and (min-width:300px){

    .card-body h5 {
   
    font-size: 20px;
  }
    .card-body p {
    font-size: 15px;
 
  }
}
@media only screen and (max-width:860px) and (min-width:300px){
    
    .mock-desc h1 {
      font-size: 3em;
      font-weight: 700;
    }
    
    .card-body h5 {
   
    font-size: 20px;
  }
  .card-body p {
    font-size: 15px;
    display: none;
  }
  .card{
    height: 110;
    width: 110%;
  
  }
}
@media only screen and (max-width:580px) and (min-width:300px){
    
  .card{
    height: 100;
    width: 100%;
  
  }
  .card-body a {
    font-size: 10px;
  }

}
/* ****************************************Mock up end**************************************/



/* ****************************************Vector Portraits**************************************/

@media only screen and (max-width:992px) and (min-width:300px){
   .content-port{
    display: block;
   }
   .port-img img{
    margin-top: 5%;
    width: 90%; 
}
.port-img{

  display: flex;
  flex-direction: column;
  align-items: center;
}
.main9-desc{
    padding: 20px;
    width: 40%;
    height: 50%;
    margin: auto;
    
}
.main9-desc h1{
    font-size: 50px;
}

@media only screen and (max-width:767px) and (min-width:300px){
    .main9-desc h1{
        font-size: clamp(3rem,4vw,1rem);
    }
    .main9-desc{
        width: auto;
        height:auto; 
    }
}
}

/* ****************************************Vector Portraits end**************************************/


/* ****************************************Contacts**************************************/

@media only screen and (max-width:992px) and (min-width:300px){
   
    .main1-contact{
        height: 65%;
        border: 1px solid black;
        background-color: #d5cabd;
        display: block;
        padding: 50px;
        text-align: center;
        margin-top: 10%;
        width: 100%;
    }
    
    .main1-contact .header-text p{
    margin: auto;
    font-size:30px;
    font-weight: 500;
   }
   .main1-contact .header-text h1{
    margin: auto;
    font-size:4rem;
    font-weight: 500;
   }
   .main1-contact .header-text{
    text-align: center;
   }
   .main1-contact .header-img img{
    margin-top: 2%;
}
}
@media only screen and (max-width:767px)and (min-width:300px){
    .main1-contact .header-img img{
        width:90%;
  
       }
}