* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
html, body, #fullheight {
  min-height: 100% !important;
  height: 100%;
}
body{
  height: 100%;
  min-height: 100;
 
}

.to-top {
  background: rgb(255, 255, 255);
  position: fixed;
  bottom: 16%;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
 
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}
/* <!--*********************************** Navbar **************************************--> */
.nav {
  padding: 10px;
  width: 100%;
  height: 10%;
  background-color: #2f4858;
}
.nav-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-brand ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-brand ul li a {
  color: aliceblue;
  text-decoration: none;
}
.nav-brand h1 {
  font-weight: 800;
}

.nav-brand h1 span:nth-child(1) {
  color: #ffd14d;
}
.nav-brand h1 span:nth-child(2) {
  color: #a0c357;
}
.nav-brand h1 span:nth-child(3) {
  color: #4dab71;
}
.nav-brand h1 span:nth-child(4) {
  color: #008b7f;
}
.nav-brand h1 span:nth-child(5) {
  color: #0d6977;
}



/* <!--*********************************** Hero Section **************************************--> */

.hero {
  background-image: linear-gradient(
    to bottom,
    #6e77e0,
    #5d82e9,
    #4a8cf0,
    #3196f5,
    #00a0f9
  );
  
}
.logos {
  padding-left: 10%;
}
.main-content h1 {
  color: #ffffff;
  font-size: 200px;
  font-weight: 800;
  cursor: default;
}
.main-content p {
 font-size: 20px;
}

.content-1 {
  display: flex;
  height: 90vh;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos h1 {
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

/* <!--*********************************** logo layout**************************************--> */

.main-content-2 {
  height: 85vh;
  overflow: hidden;
 background-color: #211A1E;
}
.main-content-body {
  padding-top: 5%;
}
.main-content-2__desc {
  border: 2px solid #E79028;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  text-align: center;
  width: 450px;
  height: 230px;
}
.main-content-2__desc h4 {
  font-weight: 800;
}

.main-content-2__left .img-logo {
  display: flex;
  align-items: center;
  margin-top: 10%;
}
.main-content-2__left .img-logo img {
  width: 300px;
}

.main-content-2__left .img-logo h1 {
  font-size: 100px;
  font-weight: 600;
  color:#E79028;
}
.main-content-2__right {
  margin-left: 2%;
}
.main-content-2__right {
  text-align: center;
}
.main-content-2__right-icon {
  margin-left: 15%;
  display: flex;
}
.main-content-2__right-icon .icon {
  display: flex;
  align-items: center;
  gap: 10px;

}
.main-content-2__right-icon .icon img {
  width: 100px;
}
.main-content-2__right img{
  width: 150%;
}

hr {
  width: 70%;
  border: 1px solid rgb(0, 0, 0);
  margin: auto;
}

/* <!--*********************************** logo layout 2**************************************--> */

.main-content-3 {
  background-color: transparent;
  height: 85vh;
  overflow: hidden;

}
.main-content-3__left .img-logo__2 img {
  width: 600px;
}
.main-content-3__desc {
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  width: 450px;
  height: 230px;
  text-align: left;
}
.main-content-3__desc h4 {
  font-weight: 800;
}



/* <!--*********************************** Main Content 4**************************************--> */

.main-content-4 {
  background-color: transparent;
  height: 85vh;
  overflow: hidden;
  background-color: #1f1f1f;
}
.main-content-4 .main-content-3__desc {
  border: 2px solid #E79028;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  text-align: left;

}
/* <!--*********************************** Main Content 5**************************************--> */

.main-content-5 {
  background-color: transparent;
  height: 85vh;
  overflow: hidden;
  background-color: #fad506;

}
/* <!--*********************************** Main Content 6**************************************--> */

.main-content-6 {
background: url(../images/Logo/space.jpg);
background-position: center;
background-size: cover;
height: 85vh;
  overflow: hidden;
  background-color: #fad506;

}
  /* <!--*********************************** Main Content 7**************************************--> */
.why-us-content-1{
  padding: 30px;
  height: 100vh;
  align-items: center;
  background: url(../images/Logo/web-Background-2-01.png);
  background-size: cover;
  background-position: center;

}
.why-us-content-text h1{
  font-family: 'Oswald', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 150px;
}
.why-us-content-text p{
  color: whitesmoke;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  
  letter-spacing: 0.1em;
}
.why-us-content-para{
  height: 350px;
  width: 350px;
  border: 1px solid whitesmoke;
  padding: 10px;

}
div .why-us-content-text:nth-child(2){
display: flex;
justify-content: center;
}
div .why-us-content-text:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.why-us-content-text-1{
  width: 500px;
  height: 500px;
  border: 1px solid whitesmoke;
  border-radius: 500px;
padding: 100px 50px 50px 50px;
 
}
.why-us-content-text-1 h2{
  font-size: 90px;
  color: whitesmoke;
  text-align: center;

}






 /* <!--*********************************** Reveal CSS**************************************--> */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}


.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

    /* <!--*********************************** Tab Layout **************************************--> */
/* .main-content-Tab{
 background-color: #1f1f1f;

  width: 100%;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}
.main-content-Tab h1{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 7vw;
  font-weight: 800;
  color: transparent;
  text-align: center;
}
.main-content-Tab-hero{
  width: 80%;
  height: 850px;
  position: relative;
  margin: auto;
  overflow: hidden;
 
}
.btn-box{
  display: flex;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding:14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}
.btn-box .fa{
  margin-right: 20px;
}
.btn-box button:hover .fa{
  color: #ffffff;
}
.tab-content-right img{
    width: 350px;

}
.tab-Content{

text-align: center;
margin: 5% 0;

 
}
.tab-content-left p{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding: 30px 0;
  text-align: left;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
 

}
.tab-content-left h1{
  
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  color: rgb(255, 255, 255);
 
}
.tab-content-left a{
  font-family: 'Oswald', sans-serif;
    width: 150px;
    display:block;
    padding: 8px 5px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
}
.tab-content-left{

  text-align:center;
  flex-basis: 10%;
  

}
#tabBTN1{
  color: #ff7846;
} */
.tab-content{
  background: url(../images/Logo/web-Background-2-01.png);
  background-size: cover;
  background-position: center;

  }
  .tab-content .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  margin: 0 auto;
}

.tab-content .container ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-content .container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 16px 45px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #d6d4e2;
  cursor: pointer;
}

.tab-content .container ul li:last-child {
  padding-right: 40px;
}

.tab-content .container ul li.active,
.container ul li:hover {
  background-color: #000000;
  color: whitesmoke;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  border-right-color: #ffffff;
}

.tab-content .container ul li img {
  max-height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  filter: grayscale(85%) opacity(45%);
}

.tab-content .container ul li.active img,
.container ul li:hover img {
  filter: none;
}


.tab-content .container .content .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  background-color: transparent;
  padding: 40px 25px;
  border: 1px solid white;

}

.tab-content .container .content .box img {
 width: 900px;
}

.tab-content .container .content .box .text h3 {
  font-size: 80px;
  color:whitesmoke;
  margin: 16px 0;
}

.tab-content .container .content .box .text p {
  line-height: 1.8;
  color: white;

}

.tab-content .container .content .box:not(:first-child) {
  display: none;
}







/* <!--*********************************** Mobile Version **************************************--> */


/* <!--*********************************** Hero **************************************--> */
@media only screen and (max-width:1300px) and (min-width:300px){
.hero .main-content{
  display: block;
}
.main-content p {
  font-size: 20px;
 
 }
}
@media only screen and (max-width:767px) and (min-width:300px){
  .main-content h1 {
   
    font-size: 150px;
  
  }
  .main-content p {
   font-size: 20px;
  
  }

  .logos h1 {
    font-size: 70px;
  }
 
  }
  @media only screen and (max-width:500px) and (min-width:300px){
    .main-content h1 {
   
      font-size: 30vw;
    
    }
    .main-content p {
     font-size: 15px;
   
    }
  
    .logos h1 {
      font-size: 10vw;
    }
    .content-1 {
      
      height: 70vh;
    }
  }



/* <!--*********************************** All layout the same design **************************************--> */
@media only screen and (max-width:767px) and (min-width:300px){

 
  .main-content-2__desc {
   text-align: left;
   margin-left: 15%;
  }


  .main-content-2__left .img-logo img {
    width: 250px;
    margin-left: -1em;
  }
  

  .main-content-2__right-icon .icon {
    margin-left: 10%;
  }
  .main-content-2__right-icon .icon img {
    width: 80px;
  }
  .main-content-2__right img{
   width: 500px;
  }
  .main-content-2__right-icon .icon__3 img {
    width: 100px;
  }

 
/************************************* lay out **********************************/ 

  .main-content-3__desc {
    margin-left: 15%;
    text-align: left;
  }
  .main-content-3__desc h4 {
    font-weight: 800;
  }
.main-content-3__left .img-logo__2 img {
    width: 250px;
    margin-left: -4.5em;
  }
  
  .icon__4 img {
    width: 280px;
    margin-left: -5em;
  }
  
  .main-content-3__left .img-logo__2 img {
    width: 650px;
    margin-top: -5%;
  }
  .main-content-2__right .icon__4 img {
    width: 200px;
    margin-left: -3em;
  }
}
@media only screen and (max-width:575px) and (min-width:300px){


  .main-content-2__desc {
    width: auto;
    height: auto;
    margin-left: 0;
   }
 
 
   .main-content-2__left .img-logo img {
     margin-left: 0;
   }
   
   .main-content-2__right-icon .icon {
    margin-left: 0;
   }
   .main-content-2__right-icon .icon img {
     width: 80px;
   }
   .main-content-2__right img{
    width: 100%;
   }
   .main-content-2__left .img-logo h1 {
    font-size: 20vw;
  }
  .main-content-2__left .img-logo {
    display: block;
    text-align: center;
  }
  .main-content-2__right-icon img {
     width: 100px;
   }

   .main-content-2__desc p{
    font-size: 15px;
   }

   .main-content-3__desc {
    margin-left:0;
    width: auto;
    height: auto;
  }
  .main-content-3__left .img-logo__2 img {
    width: 100%;
    margin-left: 0;
  }

  .main-content-3__right .icon__4 img {
    width: 100%;
    margin-left: -3em;
  }
}
@media only screen and (max-width:400px) and (min-width:300px){
  .main-content-2__right-icon .icon {
    margin-left: -1.5em;
   }
   .main-content-2__right-icon .icon img {
     width: 50px;
     margin-left: 2em;
   }
   .main-content-2__right .icon__4 img {
    width: 200px;
   
  }
}


/* <!--*********************************** Services **************************************--> */
@media only screen and (max-width:991px) and (min-width:300px){
  .tab-content .container {
    height: 120vh;
   
  }
  
  .tab-content .container .content .box {
    display: flex;
    flex-direction: column-reverse;
 
   text-align: center;
  }
 
  .tab-content .container .content .box img {
    width: 65%;
   }
   .tab-content .container .content .box .text h3 {
    font-size: 60px;
    color:whitesmoke;
    margin: 16px 0;
  }
  
  .tab-content .container .content .box .text p {
    line-height: 1.8;
    color: white;
    
  }
}

/* <!--*********************************** Why Us **************************************--> */
@media only screen and (max-width:992px) and (min-width:300px){
  .main-content-7 .why-us-content-1{
    display: flex;
    flex-direction: column;
  
  }
  .why-us-content-text-1 h1{
  
    text-align: left;
  
  }
  .why-us-content-1 .col-8{
    margin-left: -15em;
  }
}
@media only screen and (max-width:500px) and (min-width:300px){
  .why-us-content-1 .col-8 h1{
    font-size: 90px;
  }
  .why-us-content-text-1{
    width:auto;
    height: auto;
    border: 1px solid whitesmoke;
    border-radius:0;
  margin-top: 10%;
  }
  .why-us-content-text-1 h2{
    font-size: 13vw;
    color: whitesmoke;
    text-align: center;
  
  }
  .tab-content .container ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tab-content .container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 16px 45px;
    background-color: transparent;
    color: #8c90ab;
    border: 1px solid #d6d4e2;
    cursor: pointer;
  }
  .tab-content .container ul li img {
    max-height: 50px;
  }
  .tab-content .container ul li:last-child {
    padding-right: 30px;
  }
  .tab-content .container ul{
    padding-right: 30px;
  }
  
}
@media only screen and (max-width:440px) and (min-width:300px){
  .tab-content .container ul li img {
    max-height: 25px;
  height:auto;
  width: auto;
  }
  .tab-content .container ul li:last-child {
    padding-right: 30px;
  }
  .tab-content .container ul{
    padding-right: 40px;
  }
  .tab-content .container ul li span{
   font-size: 10px;
  }
}