*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
    
}
body{
  background-color: #1D283A;
}

.profile img{
  width: 10px;
  border-radius: 50%;
}
.intro{
  margin-top: 10%;
}
.mobile-nav{
  display: none;
}
.main{
  height: 100vh;
  margin-top: auto;
  display: flex;
  align-items: center;
  background:url(images/WebBGnew-01.png);
 
}
.img_home{
  width: 500px;
  border-radius: 50%;
  margin-left: 10%;
}
.main h1{
  margin-top: 50px;
  font-weight: 700;
  font-size: 100px;
  color: #716455;
}
.main p{
  font-size: 48px;
  color: #716455;
}
.main h5{
  color: #716455;
}
.navbar-collapse ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #716455;
}
.navbar-collapse ul li a{
  font-size: 25px;
  color: #716455;
  text-decoration: none;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
  background-color: #716455;
}

 /* about */
 #aboutme{
  height: 50vh;
 }
 .card5{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 10px;
    background-color: #161F32; 
     width: 60%; 
     height: 40vh; 
     margin-top:0;
 }
.aboutimg{
  width: 300px;
  margin-left: 30%;
}
.card5 p{
  width: 50%; 
  margin-left: 10%;
  font-size: 30px; 
  color: aliceblue;
}

/* carousel */
.carousel-mobile{
  display: none;
}
.carousel-item{
  min-height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size:cover ;
  background-size:cover ;
  
}
.carousel-caption{
  bottom: 180px;
  align-items: center;
  padding-right: 20rem;
  width: 100%;
}
.carousel-caption p{
  font-size: 20px;
  font-weight: 700px;
}
.slider-btn .btn1{
    background-color: #716455;
    columns: white;
    border-radius: 0%;
    padding: 1.5rem 2rem;
    font-size: 1rem;
}

  /* Services */
.main3{
  width: 100%;
 
  color: cyan;
  
}
.main3 .cardmain .card img{
  width: 150px;
  margin: auto;
}
.main3 .cardmain .shadow{
  width: 17rem;
  margin: auto;
  background-color: #161F32;
 
}
.main3 .container .cardmain{
justify-content: center ;

}




  /* slider for ui deisgn */



.carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size:cover ;
  background-size: cover;
}
  .carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0%;
    right: 0%;
  }
  .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.imgBoxslider img{
  width: 425px;
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
  
  
}
.carousel-caption{
  bottom: 180px;
  margin-left: -5.5%;
}

 /* Carousel for UX/UI Design */
.texboxslider{
  position: relative;
  max-width: 600px;
}
.texboxslider h2{
  color: #333;
  font-size: 3em;
  line-height: 1.4em;
  font-weight: 500;
}
.texboxslider h2 span{
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.thumb{
  position: absolute;
  left: 50%;

  margin-top: 60%;
  transform: translate(-50%);
  display: flex;
  
}
.thumb li{
  list-style: none;
  display: inline-block;
 
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
  
}
.thumb li:hover{
  transform: translateY(-15px);
}
.thumb li img{
  max-width: 60px;
}
 /* Carousel for UX/UI Design */

/* <!-- other information --> */
.main4 {
  color: rgb(19, 100, 172);
  
}
.main4 .container{
  height: 180vh;
  background-color: antiquewhite;
}
.cardshow .card img{
  width: 150px;
}

.main4 .cardshow h2{
  justify-content: center; 
  text-align: center;
  margin-top: -55px; 
  margin-left: 3em; 
  font-weight: 700;
}



.juicy-roadmap_new{
  width: 100%;
  background-image:url(images/aesthtic.png);
  background-position: center;
  background-size: cover;
}
.headding{
  text-align: center;
}
.map_box{
  background-color: #161F32;
  padding: 12px;
  border-radius: 20px;
  text-align: center;
}



/* Contact Form */

#Contact-form{
  height: 100vh;
  background-image: url(images/WebBGnew-01.png);
  background-position: center;
  background-size: cover;
}
.form-label{
  color: aliceblue;
}
.form-area {
	padding-top: 7%;
}
.row.single-form {
	box-shadow: 10px 9px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 9px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 9px 5px 0px rgba(0,0,0,0.75);
}
.left {
	background: #161F32;
	padding: 210px 125px;
  
}
.left h2 {
	font-family: poppins;
	color: #fff;
	font-weight: 700;
	font-size: 48px;
  font-family: "Mukta", sans-serif;
}
.left h2 span {
	font-weight: 100;
  
}
.single-form{
    background: transparent;
}
.right {
	padding: 70px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #ffffff00;
}
.form-control {
	border: 1px solid #ffffff;
  background-color: transparent;
}
.right button {
	border: 1px solid white;
	border-radius: 10px;
	background: transparent;
	width: 150px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover{
    transition: 0.5s ease;
    background-color: #00f7ff;
}

.social-links{
  display: flex;
  gap: 25px;
  justify-content: center;

}
.social-links i{
  color: #00f7ff;
}

.contacts{
  color: #ffffff;
}

/* .fa-caret-left{
  margin-left: -0.3%;
  
} */
  /* Contact Form End */







  /***********************************footer******************************** */
  
footer {
  height: 10vh;
  width: 100%;
  padding: 3% 0;
  text-align: center;
  background-color: #1e2a46;
  font-weight: 300;
  color: aliceblue;
}
/* ------------------------------------------------Media Query-------------------------------------- */


@media only screen and (max-width: 1100px) {
 
 body{
  width: auto;
 }
  /* .intro{
    margin-top: 10%;
  } */

  .nav-desktop{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
  .main{
    height: 100vh;
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #017143;
   
  }
  .img_home{
    width: 100px;
    border-radius: 50%;
    margin-left: 15%;
    display: none;
  }
  .main h1{
    margin-top: 40px;
    font-weight: 700;
    font-size: 70px;
    color: #716455;
  }
  .main p{
    font-size: 35px;
    color: #716455;
  }
  .main h5{
    margin-top: auto;
    color: #716455;
  }
  .navbar-collapse ul{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      color: #716455;
  }
  .navbar-collapse ul li a{
    font-size: 25px;
    color: #716455;
    text-decoration: none;
  }
  
  .primary-btn {
    border-radius: 30px;
    font-weight: bold;
    background-color: #716455;
  }

   /* About me */


  .card5{
      width: 100%;
      height: 20vh;
    }
    .aboutme{
      margin: auto;
      width: 100%;
      height: 20vh;
    }
    .card5 img{
      width: 100px;
      margin-left: -50px;
      border-radius: 50%;
    }
    .card5 p{
      width: 100rem; 
      color: #ffffff;
      font-size: 11px; 
      margin-left: auto;
      font-weight: 400;
      align-items: center;
      margin-top: auto;
      margin-bottom: auto;
    }
     /* about me end */

     /* Services */
    .main3{
      margin-top: -50%;
      width: 100%;
      background-image: url(images/WebBGnew-01.png);
      background-position: center;
      background-size: cover;
    }
    .cardmain .card-shadow{
      gap: -10%;
      }
  
    .main3 .cardmain .shadow
    {
    
      margin-top: -20%;
      padding: 10px;
      width: 15rem;
      display: flex;
      flex-direction: row;
     
    }
    
    .cardmain .card-shadow .shadow img{
     
      width: 60px; 
    }
    .cardmain .card-shadow .shadow p{
      margin-top: -10%;
      width: 180px;
      height: 11vh;
      padding: 10px;
     font-size: 10px; 
     font-weight: 400;
    
    }
    .cardmain .card-shadow .shadow h3{
      
     font-weight: 400;
     font-size: 20px; 
    }
    
    
    .background-block{
      display: none;
    }
   
    /* Services end */

    /* carousel */
    
    #Portfolio{
      display: none;
      
    }
    .carousel-mobile {
      width: 100%;
      display: block;
    }
    .images-mobile{
      margin: auto;
     
    }
    .images-mobile img {
      
      width: 100%;
    }

    

    /* .main4{
        display: block;
      width: 50%;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
    }
      .theme-text{
        display: none;
      }
      
      .main4 .card h2{
        display: none;
      }
      .main4 .card p{
       display: block;
       font-size: 15px;
      }
      .main4 .card{
        width: 2rem;
      } */
    /* Contact Form */
    .map_box{
      background-color: #161F32;
      padding: 11px;
      border-radius: 20px;
      margin: auto;
      margin-top: 5%;
      font-size: 12px;
    }
    .map_box ul li{
      list-style: none;
      text-align: center;
    }
    footer {
      height: 10vh;
     margin-bottom: 0%;
    }
    .juicy-roadmap_new{
      width: 100%;
      margin-top: 100%;
      background-image:url(images/aesthtic.png);
      background-position: center;
      background-size: cover;
    }

    }
  @media (max-width:767px)
  {
    footer{
      bottom: 0;
    }
    
    .left {
    padding: 90px 15px;
    text-align: center;
  }
  .left h2 {
    font-size: 40px;
  }
  .right {
    padding: 25px;
  }
  .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 46%;
  }
      .right button {
    width: 150px;
    padding: 12px 0;
  }
  .social-links{
    display: flex;
    gap: 15px;
  }
  
}